{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="bug-form-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div id="title" class="card">
                    <div id="title-heading" class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">Post a Comment</h5>
                    </div>
                </div>
                <div class="pt-1 pb-1">
                    <form method="POST" enctype="multipart/form-data" class="bug-submit__form p-4 pl-5 pr-5">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <div class="form-group mb-0">
                            {% if 'edit' in request.path %}
                            <button class="btn btn-primary" type="submit"><i class="fa fa-pencil mr-1"></i> Update</button>
                            <a id="back" href="#!" class="btn btn-link">Cancel</a>
                            {% else %}
                            <button class="btn btn-primary" type="submit"><i class="fa fa-plus mr-1"></i> Submit</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
