{% extends 'base.html' %}

{% block content %}
<section id="get-tickets-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div id="accordion" class="accordion__all">
                    <div class="card">
                        <div id="all-heading" class="card-header d-flex justify-content-between">
                            {% if tag is not None %}
                            <h5 class="mb-0" data-toggle="collapse" data-target="#all-collapse" aria-expanded="true" aria-controls="all-collapse">All {{ tag|title }}s</h5>
                            <a href="{% url 'get-tickets' %}" class="card__meta">All Tickets</a>
                            {% else %}
                            <h5 class="mb-0" data-toggle="collapse" data-target="#all-collapse" aria-expanded="true" aria-controls="all-collapse">All Tickets</h5>
                            {% endif %}
                        </div>
                    </div>
                    <div id="all-collapse" class="collapse show" aria-labelledby="all-heading" data-parent="#accordion">
                        <div class="list-group">
                            {% for ticket in tickets %}
                                {% include 'tickets/template-parts/ticket.html' %}
                            {% empty %}
                                <p class="p-4 mb-0">No {{ tag }}s have been submitted yet. <a href="#!" class="btn btn-link p-0">Submit {{ tag|title }}</a></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% include 'tickets/template-parts/pagination.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
