{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="bug-detail-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div id="title" class="card">
                    <div id="title-heading" class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">Currently Viewing: {{ ticket.title }}</h5>
                    </div>
                </div>
                <div class="container-fluid has-sidebar">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 col-xl-9 p-4 bug__details">
                            <h2 class="bug__title mb-3 d-inline-block">{{ ticket.title }}</h2>

                            {% if request.user == ticket.author or request.user.is_staff %}
                            <p class="user-control__edit d-inline-block mb-0 ml-2 mr-1"><a href="{% url 'edit-ticket' ticket.id %}" class="btn btn-link p-0"><i class="fa fa-pencil"></i></a></p>

                            <form action="{% url 'delete-ticket' ticket.id %}" method="POST" class="delete-bug__form d-inline-block">
                                {% csrf_token %}

                                <div class="form-group mb-0">
                                    <button class="btn btn-link p-0" type="submit"><i class="fa fa-trash-o"></i></button>
                                </div>
                            </form>
                            {% endif %}

                            <p class="bug__description mb-3">{{ ticket.description }}</p>
                            {% if ticket.screenshot %}
                                <img src="{{ MEDIA_URL }}{{ ticket.screenshot }}" alt="Screenshot of {{ ticket.title }}" class="img-fluid d-block mb-3">
                            {% endif %}
                            <a href="{% url 'add-new-comment' ticket.id %}" class="btn btn-primary bug__leave-comment mb-4"><i class="fa fa-comment mr-2"></i>Leave a Comment</a>
                            <div class="bug__comments">
                                {% for comment in comments %}
                                <div class="card mb-3 bug__comments-comment">
                                    <div class="card-header d-flex justify-content-between comment-heading">
                                        <h5 class="mb-0"><i class="fa fa-comment mr-3"></i>{{ comment.author|title }} says...</h5>
                                    </div>
                                    <div class="card-body">
                                        <p>{{ comment.comment }}</p>
                                        <p class="mb-0"><small>Posted on <strong>{{ comment.date_created|date:"F d, Y" }}</strong> at <strong>{{ comment.date_created|date:"H:i" }}</strong></small></p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-3 p-4 bug__sidebar">
                            <table class="table bug__info-table">
                                <tbody>
                                    <tr>
                                        <th scope="col"><strong>Type:</strong></th>
                                        <td>{{ ticket.tag|title }}</td>
                                    </tr>
                                    {% if ticket.priority is not None %}
                                    <tr>
                                        <th scope="col"><strong>Priority:</strong></th>
                                        <td>{{ ticket.get_priority_display }}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th scope="col"><strong>Author:</strong></th>
                                        <td>{{ ticket.author|title }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><strong>Status:</strong></th>
                                        <td>{{ ticket.get_status_display }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><strong>Upvotes:</strong></th>
                                        <td>{{ ticket.upvotes }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><strong>Created:</strong></th>
                                        <td>{{ ticket.date_created }}</td>
                                    </tr>
                                    {% if ticket.date_completed is not None %}
                                    <tr>
                                        <th scope="col"><strong>Completed:</strong></th>
                                        <td>{{ ticket.date_completed }}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th scope="col"><strong>Last Modified:</strong></th>
                                        <td>{{ ticket.last_modified }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% if ticket.tag == 'BUG' %}
                            <form action="{% url 'upvote-bug' ticket.id %}" method="POST" class="d-inline-block">
                                {% csrf_token %}
                                {{ form|crispy }}

                                <div class="form-group mb-0">
                                    <button class="btn btn-link" type="submit"><i class="fa fa-thumbs-up mr-1"></i> Upvote</button>
                                </div>
                            </form>
                            {% elif ticket.tag == 'FEATURE' %}
                            <form action="{% url 'add-to-basket' ticket.id %}" method="POST" class="d-inline-block">
                                {% csrf_token %}

                                <input type="hidden" name="quantity" value="1">

                                <div class="form-group mb-0">
                                    <button class="btn btn-link" type="submit"><i class="fa fa-thumbs-up mr-1"></i> Upvote</button>
                                </div>
                            </form>
                            {% endif %}

                            {% if is_saved is None %}
                            <form action="{% url 'save-ticket' ticket.id %}" method="POST" class="d-inline-block">
                                {% csrf_token %}
                                {{ form|crispy }}

                                <div class="form-group mb-0">
                                    <button class="btn btn-link" type="submit"><i class="fa fa-star mr-1"></i> Save</button>
                                </div>
                            </form>
                            {% else %}
                            <form action="{% url 'delete-saved-ticket' ticket.id %}" method="POST" class="d-inline-block">
                                {% csrf_token %}
                                {{ form|crispy }}

                                <div class="form-group mb-0">
                                    <button class="btn btn-link" type="submit"><i class="fa fa-star mr-1"></i> Unsave</button>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
