{% extends 'base.html' %}
{% load mathfilters %}

{% block content %}
<section id="basket-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div id="title" class="card">
                    <div id="title-heading" class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">Basket</h5>
                    </div>
                </div>
                <div class="p-4">
                    <div class="table-responsive">
                        <table class="table table-striped basket-table mb-4">
                            <thead>
                                <tr>
                                    <th scope="col" class="d-xs-none d-md-table-cell">ID</th>
                                    <th scope="col">Feature</th>
                                    <th scope="col">Upvotes</th>
                                    <th scope="col" class="d-xs-none d-md-table-cell">Price</th>
                                    <th scope="col"><span class="d-xs-table-cell d-md-none">Remove</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in basket_items %}
                                <tr>
                                    <td class="d-xs-none d-md-table-cell">#{{ item.id }}</td>
                                    <td>{{ item.ticket.title }}</td>
                                    <td>
                                        <form action="{% url 'amend-basket' item.id %}" method="POST">
                                            {% csrf_token %}

                                            <input type="number" min="0" name="quantity" value="{{ item.quantity }}" class="form-control">
                                            <button class="btn btn-link d-none" type="submit">Amend</button>
                                        </form>
                                    </td>
                                    <td class="d-xs-none d-md-table-cell">£{{ item.ticket.upvote_price|mul:item.quantity }}</td>
                                    <td class="text-center">
                                        <form action="{% url 'delete-basket-item' item.id %}" method="POST">
                                            {% csrf_token %}

                                            <div class="form-group mb-0">
                                                <button class="btn btn-link p-0" type="submit"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5">Your basket is empty.</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td class="d-xs-none d-md-table-cell"></td>
                                    <td class="d-xs-none d-md-table-cell"></td>
                                    <td></td>
                                    <td>Item Count</td>
                                    <td class="text-center"><strong>{{ basket_items|length }}</strong></td>
                                </tr>
                                <tr>
                                    <td class="d-xs-none d-md-table-cell"></td>
                                    <td class="d-xs-none d-md-table-cell"></td>
                                    <td></td>
                                    <td>Upvote Count</td>
                                    <td class="text-center"><strong>{{ upvote_count }}</strong></td>
                                </tr>
                                <tr>
                                    <td class="d-xs-none d-md-table-cell"></td>
                                    <td class="d-xs-none d-md-table-cell"></td>
                                    <td></td>
                                    <td>Total</td>
                                    <td class="text-center"><strong>£{{ total }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p class="text-center"><a href="{% url 'get-checkout' %}" class="btn btn-primary"><i class="fa fa-send-o mr-1"></i> Proceed to Checkout</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
