{% extends 'base.html' %}
{% load mathfilters %}

{% block content %}
<section id="basket-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div id="title" class="card">
                    <div id="title-heading" class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">Basket</h5>
                    </div>
                </div>
                <div class="p-4">
                    <table class="table table-striped mb-0 basket-table">
                        <thead>
                            <tr>
                                <th scope="col">Remove</th>
                                <th scope="col">ID</th>
                                <th scope="col">Feature</th>
                                <th scope="col">Upvotes</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in basket_items %}
                                <tr>
                                    <td>
                                        <!-- <a href="{% url 'delete-basket-item' item.id %}"><i class="fa fa-trash-o"></i></a> -->
                                        <form action="{% url 'delete-basket-item' item.id %}" method="POST">
                                            {% csrf_token %}

                                            <div class="form-group mb-0">
                                                <button class="btn btn-link p-0" type="submit"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </form>
                                    </td>
                                    <td>#{{ item.id }}</td>
                                    <td>{{ item.ticket.title }}</td>
                                    <td>
                                        <form action="{% url 'amend-basket' item.id %}" method="POST">
                                            {% csrf_token %}

                                            <input type="number" min="0" name="quantity" value="{{ item.quantity }}" class="form-control">
                                            <button class="btn btn-link d-none" type="submit">Amend</button>
                                        </form>
                                    </td>
                                    <td>£{{ item.ticket.upvote_price|mul:item.quantity }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5">Your basket is empty.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="text-center">
                                <td colspan="2">Total Items: <strong>{{ basket_items|length }}</strong></td>
                                <td colspan="1">Total Upvotes: <strong>{{ upvote_count }}</strong></td>
                                <td colspan="2">Total Cost: <strong>£{{ total }}</strong></td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="5" class="dark-blue-border">
                                    <a href="{% url 'get-checkout' %}" class="btn btn-secondary">Checkout</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
