{% extends 'base.html' %}

{% block content %}
<section id="bug-detail-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div id="title" class="card">
                    <div id="title-heading" class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">Currently Viewing: {{ bug.title }}</h5>
                    </div>
                </div>
                <div class="container-fluid p-5">
                    <div class="row">
                        <div class="col-md-8">
                            <h2 class="bug__title mb-3">{{ bug.title }}</h2>
                            <p class="bug__description mb-4">{{ bug.description }}</p>
                            {% if bug.screenshot %}
                                <img src="/media/{{ bug.screenshot }}" alt="Screenshot of {{ bug.title }}">
                            {% endif %}
                            <a href="#insert-comment-popup" class="popup-with-form btn btn-primary bug__leave-comment">Leave a Comment <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="col-md-4">
                            <h2 class="bug__title mb-3">{{ bug.tag|title }} Info</h2>
                            <table class="table bug__info-table">
                                <tbody>
                                    <tr>
                                        <th scope="col"><strong>Type:</strong></th>
                                        <td>{{ bug.tag|title }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><strong>Priority:</strong></th>
                                        <td>{{ bug.get_priority_display }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><strong>Author:</strong></th>
                                        <td>{{ bug.author|title }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><strong>Status:</strong></th>
                                        <td>{{ bug.get_status_display }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><strong>Upvotes:</strong></th>
                                        <td>{{ bug.upvotes }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><strong>Created:</strong></th>
                                        <td>{{ bug.date_created }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><strong>Completed:</strong></th>
                                        <td>{{ bug.date_completed }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><strong>Last Modified:</strong></th>
                                        <td>{{ bug.last_modified }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="insert-comment-popup" class="white-popup-block mfp-hide">
                            Form to go here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
