{% if bugs.paginator.count >= 5 %}
    <ul class="pagination mb-0 justify-content-between">
        {% if bugs.has_previous %}
        <li class="page-item">
            <a href="?page={{ bugs.previous_page_number }}" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span>Previous</span>
            </a>
        </li>
        {% endif %}

        {% if bugs.has_next %}
        <li class="page-item">
            <a href="?page={{ bugs.next_page_number }}" class="page-link" aria-label="Next">
                <span>Next</span>
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
{% endif %}