<a href="{% url 'get-ticket-detail' ticket.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="accordion__title">{{ ticket.ticket.title }}</h5>
        <small class="accordion__posted">{{ ticket.ticket.date_created|date:"F d, Y" }}</small>
    </div>
    <p class="accordion__content">{{ ticket.ticket.description|truncatechars:275 }}</p>
    <small class="accordion__meta">
        {% if ticket.ticket.tag == 'BUG' %}
        <i class="fa fa-bug"></i> {{ ticket.ticket.tag|title }}
        {% else %}
        <i class="fa fa-star"></i> {{ ticket.ticket.tag|title }}
        {% endif %}
    </small>
</a>