#bug-detail-view {
    .container-fluid {
        &.has-sidebar {
            .bug__sidebar {
                border-left: 1px solid rgba(0, 0, 0, 0.125);
                background-color: #e8e8e8;
            }
        }
    }
}

.bug__comment {
    .card-header {
        background-color: #e8e8e8;
    }
}