#page-content-wrapper {
    background-color: $secondary;

    @media ( min-width: 1200px ) {
        min-height: calc( 100vh - (90px + 176px) );
    }
}

@media ( min-width: 1200px ) {
    #page-content-wrapper-container {
        min-height: calc( 100vh - (90px + 176px) );
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}
