#page-content-wrapper {
    background-color: $secondary;
    min-height: calc( 100vh - (90px + 176px) );
}

#page-content-wrapper-container {
    min-height: calc( 100vh - (90px + 176px) );
}

a {
    &:hover {
        text-decoration: none;
    }
}
