#basket-view {
    .basket-table {
        thead {
            th {
                &:nth-child(1),
                &:nth-child(2) {
                    width: 10%;
                }

                &:nth-child(3) {
                    width: 50%;
                }

                &:nth-child(4),
                &:nth-child(5) {
                    width: 15%;
                }
            }
        }

        tbody {
            tr > td {
                vertical-align: middle;
            }
        }

        tfoot {
            background-color: $primary;
            color: #fff;

            .dark-blue-border {
                border-color: #375dca;
            }
        }
    }
}
