.basket-table {
    .d-xs-none {
        display: none;
    }

    thead {
        background-color: $primary;

        tr, th {
            background-color: $primary;
        }

        @media( max-width: 561px ) {
            th {
                text-align: center;
            }
        }
    }

    tbody {
        tr > td {
            vertical-align: middle;
        }
    }
}
