{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="login-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div id="title" class="card">
                    <div id="title-heading" class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">Log In To Issue Tracker</h5>
                        <a href="{% url 'user-registration' %}" class="title__meta">Need an account? Register</a>
                    </div>
                </div>
                <div class="pt-1 pb-1">
                    <form method="POST" class="registration__form p-4">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <div class="form-group mb-0">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-user mr-1"></i> Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
