{% extends 'base.html' %}

{% block content %}
<section id="logout-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div id="title" class="card">
                    <div id="title-heading" class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">You are now logged out</h5>
                        <a href="{% url 'user-login' %}" class="title__meta">Log In Again?</a>
                    </div>
                </div>
                <div class="p-4">
                    <h1 class="mb-3">Until the next time.</h1>
                    <a href="{% url 'user-login' %}" class="btn btn-primary"><i class="fa fa-user mr-1"></i> Log In Again?</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
