{% extends 'base.html' %}

{% block content %}
<section id="profile-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div id="title" class="card">
                    <div id="title-heading" class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">Greetings, {{ user.username }}!</h5>
                    </div>
                </div>
                <div class="p-4 pl-5 pr-5">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Attribute</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Username:</td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td>Cake Day:</td>
                                <td>{{ user.date_joined }}</td>
                            </tr>
                            <tr>
                                <td>Last Login:</td>
                                <td>{{ user.last_login }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
