.bug__info-table tr:first-of-type th,
.bug__info-table tr:first-of-type td {
  border-top: 0;
}

.bug__info-table tr th,
.bug__info-table tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  vertical-align: middle;
}

.bug__comments-comment:last-of-type {
  margin-bottom: 0 !important;
}

.bug__comments-comment .card-header {
  background-color: #e8e8e8;
}

.user-control__edit,
.delete-bug__form {
  position: relative;
  top: -5px;
}

.bug__sidebar .btn-link {
  text-decoration: none;
}

.pagination {
  background-color: #e0b83f;
  padding: 1.5rem;
  border-radius: 0;
}

.pagination .page-item .page-link {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  font-size: 1.25rem;
}

#bug-detail-view .container-fluid.has-sidebar .bug__sidebar {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #e8e8e8;
}

@media (min-width: 992px) {
  #bug-detail-view .container-fluid.has-sidebar .bug__sidebar {
    min-height: calc(100vh - (90px + 72px + 208px));
  }
}
