{% extends 'base.html' %}

{% block content %}
<section id="home-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <!-- Critical -->
                <div id="accordion" class="accordion__critical">
                    <div class="card">
                        <div id="critical-heading" class="card-header">
                            <h5 class="mb-0" data-toggle="collapse" data-target="#critical-collapse" aria-expanded="true" aria-controls="critical-collapse"><i class="fa fa-exclamation-triangle"></i> Critical</h5>
                        </div>
                    </div>
                    <div id="critical-collapse" class="collapse show" aria-labelledby="critical-heading" data-parent="#accordion">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="accordion__title">List group item heading</h5>
                                    <small class="accordion__posted">3 days ago</small>
                                </div>
                                <p class="accordion__content">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="accordion__meta"><i class="fa fa-star"></i> Feature</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="accordion__title">List group item heading</h5>
                                    <small class="accordion__posted">3 days ago</small>
                                </div>
                                <p class="accordion__content">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="accordion__meta"><i class="fa fa-star"></i> Feature</small>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- High -->
                <div id="accordion" class="accordion__high">
                    <div class="card">
                        <div id="high-heading" class="card-header">
                            <h5 class="mb-0" data-toggle="collapse" data-target="#high-collapse" aria-expanded="true" aria-controls="high-collapse"><i class="fa fa-exclamation-triangle"></i> High</h5>
                        </div>
                    </div>
                    <div id="high-collapse" class="collapse show" aria-labelledby="high-heading" data-parent="#accordion">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="accordion__title">List group item heading</h5>
                                    <small class="accordion__posted">3 days ago</small>
                                </div>
                                <p class="accordion__content">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="accordion__meta"><i class="fa fa-bug"></i> Bug</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="accordion__title">List group item heading</h5>
                                    <small class="accordion__posted">3 days ago</small>
                                </div>
                                <p class="accordion__content">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="accordion__meta"><i class="fa fa-bug"></i> Bug</small>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Medium -->
                <div id="accordion" class="accordion__medium">
                    <div class="card">
                        <div id="medium-heading" class="card-header">
                            <h5 class="mb-0" data-toggle="collapse" data-target="#medium-collapse" aria-expanded="true" aria-controls="medium-collapse"><i class="fa fa-exclamation-triangle"></i> Medium</h5>
                        </div>
                    </div>
                    <div id="medium-collapse" class="collapse show" aria-labelledby="medium-heading" data-parent="#accordion">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="accordion__title">List group item heading</h5>
                                    <small class="accordion__posted">3 days ago</small>
                                </div>
                                <p class="accordion__content">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="accordion__meta"><i class="fa fa-star"></i> Feature</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="accordion__title">List group item heading</h5>
                                    <small class="accordion__posted">3 days ago</small>
                                </div>
                                <p class="accordion__content">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="accordion__meta"><i class="fa fa-star"></i> Feature</small>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Low -->
                <div id="accordion" class="accordion__low">
                    <div class="card">
                        <div id="low-heading" class="card-header">
                            <h5 class="mb-0" data-toggle="collapse" data-target="#low-collapse" aria-expanded="true" aria-controls="low-collapse"><i class="fa fa-exclamation-triangle"></i> Low</h5>
                        </div>
                    </div>
                    <div id="low-collapse" class="collapse show" aria-labelledby="low-heading" data-parent="#accordion">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="accordion__title">List group item heading</h5>
                                    <small class="accordion__posted">3 days ago</small>
                                </div>
                                <p class="accordion__content">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="accordion__meta"><i class="fa fa-bug"></i> Bug</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="accordion__title">List group item heading</h5>
                                    <small class="accordion__posted">3 days ago</small>
                                </div>
                                <p class="accordion__content">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="accordion__meta"><i class="fa fa-bug"></i> Bug</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
