{% extends 'base.html' %}

{% block content %}
<section id="policies-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div id="title" class="card">
                    <div id="title-heading" class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">Refund Policy</h5>
                    </div>
                </div>
                <div id="refunds" class="p-4">
                    <p class="text-uppercase"><strong>Feature can't be implemented</strong></p>
                    <p>If you have requested a feature and paid for said feature and for whatever reason we are not able to deliver the finished prduct, you will be refunded the whole amount. You can always contact us to dicuss a feature first if you'd like.</p>
                    <hr>

                    <p class="text-uppercase"><strong>Another policy</strong></p>
                    <p class="mb-0">This is just dummy content. If it were a real site, these would need to be real... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque, metus sed porta posuere, dolor lectus gravida mauris, non accumsan eros eros et turpis. Donec ullamcorper ligula et interdum porttitor.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
