{% extends 'base.html' %}

{% block content %}
<section id="policies-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div id="title" class="card">
                    <div id="title-heading" class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">Terms &amp; Conditions</h5>
                    </div>
                </div>
                <div id="terms-and-conditions" class="p-4">
                    <p class="text-uppercase"><strong>User acceptance</strong></p>
                    <p>This is just dummy content. If it were a real site, these would need to be real... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque, metus sed porta posuere, dolor lectus gravida mauris, non accumsan eros eros et turpis. Donec ullamcorper ligula et interdum porttitor.</p>
                    <hr>

                    <p class="text-uppercase"><strong>User rights and responsibilities</strong></p>
                    <p>This is just dummy content. If it were a real site, these would need to be real... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque, metus sed porta posuere, dolor lectus gravida mauris, non accumsan eros eros et turpis. Donec ullamcorper ligula et interdum porttitor.</p>
                    <hr>

                    <p class="text-uppercase"><strong>Ownership of user content</strong></p>
                    <p>This is just dummy content. If it were a real site, these would need to be real... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque, metus sed porta posuere, dolor lectus gravida mauris, non accumsan eros eros et turpis. Donec ullamcorper ligula et interdum porttitor.</p>
                    <hr>

                    <p class="text-uppercase"><strong>Acceptable and unacceptable use of the website</strong></p>
                    <p>This is just dummy content. If it were a real site, these would need to be real... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque, metus sed porta posuere, dolor lectus gravida mauris, non accumsan eros eros et turpis. Donec ullamcorper ligula et interdum porttitor.</p>
                    <hr>

                    <p class="text-uppercase"><strong>Opt-out information</strong></p>
                    <p>This is just dummy content. If it were a real site, these would need to be real... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque, metus sed porta posuere, dolor lectus gravida mauris, non accumsan eros eros et turpis. Donec ullamcorper ligula et interdum porttitor.</p>
                    <hr>

                    <p class="text-uppercase"><strong>Account termination procedures</strong></p>
                    <p>This is just dummy content. If it were a real site, these would need to be real... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque, metus sed porta posuere, dolor lectus gravida mauris, non accumsan eros eros et turpis. Donec ullamcorper ligula et interdum porttitor.</p>
                    <hr>

                    <p class="text-uppercase"><strong>Disclaimers</strong></p>
                    <p>This is just dummy content. If it were a real site, these would need to be real... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque, metus sed porta posuere, dolor lectus gravida mauris, non accumsan eros eros et turpis. Donec ullamcorper ligula et interdum porttitor.</p>
                    <hr>

                    <p class="text-uppercase"><strong>Limitation of liability</strong></p>
                    <p class="mb-0">This is just dummy content. If it were a real site, these would need to be real... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque, metus sed porta posuere, dolor lectus gravida mauris, non accumsan eros eros et turpis. Donec ullamcorper ligula et interdum porttitor.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
